{{ define "main" }}
  {{ partial "page-header" . }}

{{ $sidebar := site.Params.widgets.sidebar }}
{{ template.Println "开始处理 sidebar 参数" }}
{{ if reflect.IsSlice $sidebar }}
    {{ template.Println "sidebar 是一个切片（列表）类型" }}
    {{ range $sidebar }}
        {{ template.Println . }}
    {{ end }}
{{ else if reflect.IsMap $sidebar }}
    {{ template.Println "sidebar 是一个映射类型" }}
    {{ range $key, $value := $sidebar }}
        {{ template.Println $key, ":", $value }}
    {{ end }}
{{ else }}
    {{ template.Println "sidebar 是其他类型" }}
    {{ template.Println $sidebar }}
{{ end }}
{{ template.Println "处理 sidebar 参数结束" }}

  <section class="section">
    <div class="container">
      <div class="row gx-5">
        <!-- blog posts -->
         {{ $postColClass := "" }}
        {{ if site.Params.widgets.sidebar }}
          {{ $postColClass = "lg:col-8" }}
        {{ else }}
          {{ $postColClass = "lg:col-12" }}
        {{ end }}
        <div class="{{ $postColClass }}"> 
          <div class="row">
            
            {{ $paginator:= .Paginate .RegularPages }}
            {{ range $paginator.Pages }}
              <div class="md:col-6 mb-14">
                {{ partial "components/blog-card" . }}
              </div>
            {{ end }}
          </div>
          {{ partial "components/pagination.html" . }}
        </div>
        <!-- sidebar -->
        <div class="lg:col-4">
          <!-- widget -->
          {{ $widget:= site.Params.widgets.sidebar }}
          {{ partialCached "widgets/widget-wrapper" ( dict "Widgets" $widget "Scope" . ) }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
